
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link link-body-emphasis" aria-current="page">
        <i class="bi bi-house-door-fill"></i>
        Home
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis" aria-current="page">
        <i class="bi bi-clipboard-data-fill"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis"aria-current="page">
        <i class="bi bi-clipboard2-check-fill"></i>
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis" aria-current="page">
        <i class="bi bi-bag-fill"></i>
        Products
      </a>
    </li>
    <li>
      <a href="/personas" class="nav-link link-body-emphasis" aria-current="page">
        <i class="bi bi-person-circle"></i>
        Clientes
      </a>
    </li>
  </ul>
  <hr>
</div>